.container {
  color: #3F012C;
}

.name {
  font-size: 20px;
  font-weight: 700;
  color: #3F012C;
  margin-bottom: 0
}

.category {
  color: #3F012C;
  font-size: 14px;
}

.note {
  margin-top: 0.5em;
  font-size: 16px;
  color: #3F012C;
}