body {
	margin: 0;
	font-family: 'Comic Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fdb147;
}

.leaflet-popup-content-wrapper {
	box-shadow: none;
	border: 2px solid #08787f;
}

.leaflet-popup-tip-container {
	display: none;
}
